<div class="modal-overlay" [ngClass]="{'show': showNameDialog}" id="modal">
    <div class="modal">
        <div class="input-group">
            <label for="name-input">Digite seu nome</label>
            <input type="text" id="name-input" [(ngModel)]="userName">
        </div>
        <div class="checkbox-group">
            <label for="observer-check">Observador</label>
            <input type="checkbox" id="observer-check" [(ngModel)]="isObserver">
        </div>
        <button class="default-button" (click)="saveUser()">Enviar</button>
    </div>
</div>
<section class="main-section">
    <div class="board">
        <header>
            <div class="header-title">
                <a href class="mdi mdi-arrow-left" [routerLink]="['/planning-list']" routerLinkActive="router-link-active"></a>
                <h2>{{ planningName }}</h2>
            </div>
            <span *ngIf="voters.length">Votantes: {{ voters.length }}</span>
        </header>
        <div class="observer-card-list" *ngIf="observers.length">
            <div class="observer-card" *ngFor="let observer of observers">
                <span>{{ observer.name }}</span>
                <span class="mdi mdi-eye-outline"></span>
            </div>
        </div>
        <div class="voter-card-list">
            <voter-card [voter]="voter" [votingFinished]="!!currentIssue?.averageVoting" *ngFor="let voter of voters"/>
        </div>
        <footer>
            <div class="option-card-list" *ngIf="currentIssue?.status === 'Votando'">
                <div class="option-card" 
                    [ngClass]="{'selected': votedOption === option}"
                    *ngFor="let option of options" 
                    (click)="onVote(option)"
                >
                    <span>{{option}}</span>
                </div>
            </div>
            <div class="average-card" *ngIf="currentIssue?.averageVoting">
                Média
                <span>{{ currentIssue?.averageVoting }}</span>
            </div>
        </footer>
    </div>
    <info-panel
        [planningId]="'teste-chave-aleatoria'"
        [currentIssue]="currentIssue"
        (onStartVoting)="onStartVoting($event)"
        (onReset)="onReset($event)"
        (onIssuesLoaded)="onIssuesLoaded($event)"
    />
</section>
