<div class="modal-overlay" [ngClass]="{'show': showNameDialog}" id="modal">
    <div class="modal">
        <div class="input-group">
            <label for="name-input">Digite seu nome</label>
            <input type="text" id="name-input" [(ngModel)]="userName">
        </div>
        <div class="checkbox-group">
            <label for="observer-check">Observador</label>
            <input type="checkbox" id="observer-check" [(ngModel)]="isObserver">
        </div>
        <button class="default-button" (click)="saveUser()">Enviar</button>
    </div>
</div>
<div class="modal-overlay" [ngClass]="{'show': showConfigDialog}" id="modal">
    <div class="modal" *ngIf="user.admin">
        <header>
            <h3>Lista de usuários</h3>
            <button class="icon-button" (click)="toggleConfigurations()">
                <span class="mdi mdi-close"></span>
            </button>
        </header>
        <ul>
            <li *ngFor="let u of users">
                <div style="display: flex; align-items: center; gap: 10px;">
                    <span class="mdi" [ngClass]="{
                        'mdi-account-outline': !u.observer,
                        'mdi-eye-outline': u.observer
                    }"></span>
                    {{ u.name }}
                </div>
                <button class="icon-button" (click)="kickOutUser(u)" *ngIf="u.id !== user.id" title="Expulsar usuário">
                    <span class="mdi mdi-trash-can-outline"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
<section class="main-section">
    <div class="board">
        <header>
            <div class="header-title">
                <button class="icon-button"
                    title="Sair da sala" 
                    (click)="onLeavePlanning()"
                >
                    <span class="mdi mdi-arrow-left"></span>
                </button>
                <h2>{{ planningName }}</h2>
                <span class="planning-id-badge" (click)="copyPlanningId()">{{ planningId }}</span>
            </div>
            <div class="header-info">
                <span *ngIf="voters.length">Votantes: {{ voters.length }}</span>
                <button class="icon-button" 
                    *ngIf="this.user"
                    [disabled]="currentIssue?.status === 'Votando'"
                    [title]="this.user.observer ? 'Observador' : 'Votante'" 
                    (click)="toggleObserver()"
                >
                    <span class="mdi" [ngClass]="{
                        'mdi-account-outline': !this.user.observer,
                        'mdi-eye-outline': this.user.observer
                    }"></span>
                </button>
                <button class="icon-button" 
                    *ngIf="this.user.admin"
                    title="Gerenciar usuários"
                    (click)="toggleConfigurations()"
                >
                    <span class="mdi mdi-account-multiple-outline"></span>
                </button>
            </div>
        </header>
        <div class="observer-card-list" *ngIf="observers.length">
            <div class="observer-card" *ngFor="let observer of observers">
                <span *ngIf="observer.admin" class="mdi mdi-crown"></span>
                <span>{{ observer.name }}</span>
                <span class="mdi mdi-eye-outline"></span>
            </div>
        </div>
        <div class="voter-card-list">
            <voter-card 
                id="{{voter.id}}"
                [voter]="voter" 
                [user]="user"
                [votingFinished]="!!currentIssue?.averageVoting"
                (onPoke)="onPoke($event)"
                #voterCardList 
                *ngFor="let voter of voters"
                [ngStyle]="{'z-index': voterCardList.showEmojiMenu ? 10 : 0}"
            />
        </div>
        <footer>
            <div class="option-card-list" *ngIf="!user?.observer && currentIssue?.status === 'Votando'">
                <div class="option-card" 
                    [ngClass]="{'selected': votedOption === option}"
                    *ngFor="let option of options" 
                    (click)="onVote(option)"
                >
                    <span>{{option}}</span>
                </div>
            </div>
            <div class="average-card" *ngIf="currentIssue?.averageVoting">
                Média
                <span>{{ currentIssue?.averageVoting }}</span>
            </div>
        </footer>
    </div>
    <info-panel
        [planningId]="planningId"
        [currentIssue]="currentIssue"
        (onStartVoting)="onStartVoting($event)"
        (onReset)="onReset($event)"
        (onIssuesLoaded)="onIssuesLoaded($event)"
    />
</section>
