@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root{
    --primaria: #3d76fb;
    --primaria-claro: #88aaf8;
    --primaria-medio: #6491fa;
    --primaria-escuro: #2262f8;
    --cinza-claro: #F5F5F5;
    --cinza-medio: #8A8A8A;
    --cinza-escuro: #464646;
    --success: #0CA925;
    --neutral: #002AC0;
    --warning: #f8ea25;
    --danger: #b60000;
    --input-border: #d0d0d0
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html, 
body,
app-root {
    position: relative;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

body,
app-root,
app-planning-table,
app-planning-list {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input {
    padding: 15px;
    font-size: .875rem;
    font-weight: 300;
    border: 1px solid var(--cinza-medio);
    border-radius: 6px;
    width: 100%;
    transition: .2s;
}

input:focus {
    border: 1px solid var(--primaria);
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}

.main-section {
    background-color: white;
    flex: 1;
    border-radius: 6px;
}

.main-section header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.main-section header h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.default-button {
    font-size: 1rem;
    font-weight: 500;
    background: var(--primaria-medio);
    color: white;
    border: none;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
}

.default-button:hover {
    opacity: .8;
}